info:
  contact: {}
paths:
  /ping:
    get:
      description: Returns pong
      responses:
        "200":
          description: pong
          schema:
            type: string
      summary: Ping test
      tags:
      - Ping
swagger: "2.0"
